#quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 40vw;
    padding-left: 2vw; 
    padding: 2vw; 
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.button {
    color: white;
    padding: 7px;
    border-radius: 5%;
}

#author {
    align-self: flex-end;
}

#new-quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-quote:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}
